<h1>Playlist watches</h1>
<%- @playlist_watches.each do |playlist_watch| %>
  <div class="card card-list-item">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to playlist_watch.name, playlist_watch.spotify_playlist_url %>
      </h5>
      <div>
        <%= playlist_watch.summary %>
      </div>
      <div>
        <%= link_to "Update snapshot", playlist_watch_playlist_snapshots_path(playlist_watch), method: :post, class: 'btn btn-secondary btn-sm', role: 'button' %>
        Last updated: <%= playlist_watch.playlist_snapshot&.created_at || 'never' %>
      </div>
    </div>
  </div>
<%- end %>
